{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate "Data Deleted" %}{% endblock title %}

{% block content %}
<section class="section">
  <div class="columns is-centered">
    <div class="column is-half has-text-centered">
      <span class="icon is-large has-text-success mb-4">
        <i class="fas fa-check-circle fa-3x"></i>
      </span>
      <h1 class="title">{% translate "Your data has been deleted" %}</h1>
      <p class="subtitle">
        {% translate "All your account data has been permanently removed from our systems. A confirmation email has been sent." %}
      </p>
      <a href="{% url 'home' %}" class="button is-primary mt-4">{% translate "Return to Home" %}</a>
    </div>
  </div>
</section>
{% endblock content %}
