{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {% block head_title %}{% trans "Sign In" %}{% endblock head_title %}
{% endblock title %}

{% block body %}
  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop">
          {% block content %}{% endblock content %}
          {% block extra_body %}{% endblock extra_body %}
        </div>
      </div>
    </div>
  </section>
{% endblock body %}
